<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fruits</title>
</head>
<body>
<div th:switch="${fruits}">
    <h2 th:case="null">No fruits found!</h2>
    <div th:case="*">
        <h2>Fruits</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price Per Kg</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="fruit : ${Fruits}">
                td th:text="${user.id}"></td>
                <td th:text="${fruit.id}"></td>
                <td th:text="${fruit.name}"></td>
                <td th:text="${fruit.pricePerKg}"></td>
                <td><a th:href="@{fruit-update/{id}(id=${fruit.id})}">Edit</a></td>
                <td><a th:href="@{fruit-delete/{id}(id=${fruit.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/fruit-create">Create fruit</a></p>
</div>


</body>
</html>